---
title: 我的文集
layout: default
description: 我的文集
header-img: "img/header/8.jpg"
---

{% include intro-header.html type='page' short=true %}

<div id="zhouhuan-archive">
	<div class="tags-panel col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
		<span class="active-tag">全部文集</span>
		{% for tag in site.tags reversed %}
			<span>{{tag[0]}}</span>
		{% endfor %}
	</div>

	{% for tag in site.tags reversed %}
		<div class="zhouhuan-tag col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" data-tag={{tag[0]}}>
			{% assign this_tag = tag[0] %}
			{% assign this_tag_len = tag[1].size %}
			<p class="zhouhuan-tag-title">&raquo;&nbsp;<span>{{this_tag}}（{{this_tag_len}}）</span></p>
			<div class="zhouhuan-post-box">
				{% for post in site.posts %}
					{% if post.tags[0] == this_tag %}
						<div data-tag={{post.tags}} class="zhouhuan-post">
								<a href="{{ post.url | prepend: site.baseurl }}">{{post.title}}</a>
								<p class="post-date">{{ post.date  | date: "%Y.%m.%d" }}</p>
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	{% endfor %}
</div>

<script>
	document.addEventListener('DOMContentLoaded', function () {
		var tags = document.querySelectorAll('.tags-panel span')
		var currentTag = '全部文集'
		tags.forEach(function (tag) {
			tag.addEventListener('click', function (e) {
				document.querySelector('.active-tag').className = ''
				e.target.className = 'active-tag'
				currentTag = e.target.innerText
				selectTag()
			})
		})

		var postBoxes = document.querySelectorAll('.zhouhuan-tag')
		function selectTag () {
			postBoxes.forEach(function (postBox) {
				if (currentTag === '全部文集') {
					postBox.style.display = 'block'
				} else if (postBox.getAttribute('data-tag') !== currentTag) {
					postBox.style.display = 'none'
				} else {
					postBox.style.display = 'block'
				}
			})
		}
	})
</script>