---
layout: page
description: "周欢"
---

{% for post in site.posts %}
    {% assign _year = post.date | date: '%Y' %}
    {% if _year != post_year %}
        <p class="home-year">{{_year}}</p>
        {% assign post_year = _year %}
    {% endif %}
    {% assign _month = post.date | date: '%B' %}
    {% if _month != post_month %}
        <p class="home-month">{{_month}}</p>
        {% assign post_month = _month %}
    {% endif %}
    <p class="home-title-box">
        &bull;&nbsp;
        <span>{{ post.date | date: "%m月%-d日" }}</span> -
        <a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a>
    </p>
{% endfor %}
